<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:fragment="bootstrap">
<!--addd link tag for bootsrap-->
    </div>
</head>

<body>
<div th:fragment="navbar">
    <ul class="nav">
        <li class="nav-item" id="firstItem">
            <a class="nav-link active" href="#">Mining</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Weapons</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Skins</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Cool Stuff</a>
        </li>
    </ul>
</div>




</body>
</html>