<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:fragment="bootstrap">
<!--addd link tag for bootsrap-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
    </div>

    <div th:fragment="myStylesheet">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <!--my css -->
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    </div>
</head>

<body>
<div th:fragment="navbar">
    <ul class="nav">
        <li class="nav-item" id="firstItem">
            <a class="nav-link active" href="#">Mining</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Weapons</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Skins</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Cool Stuff</a>
        </li>
    </ul>
</div>
<div th:fragment="jumbotron">
    <div class="jumbotron ">
        <h1 class="display-4"><b>Minecraft</b></h1>
        <p class="lead">How to build a house..</p>
        <hr class="my-4">
        <!--<a class="btn btn-primary btn-lg" th:href="@{/index2}" role="button">Learn more</a>-->
    </div>
</div>



</body>
</html>